#pkmn0001 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#pkmn0002 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 107px;
    top: 0px;
    overflow: visible;
}

#pkmn0003 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 214px;
    top: 0px;
    overflow: visible;
}

#pkmn0004 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 0px;
    top: 71px;
    overflow: visible;
}

#pkmn0005 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 107px;
    top: 71px;
    overflow: visible;
}

#pkmn0006 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 214px;
    top: 71px;
    overflow: visible;
}

#pkmn0007 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 0px;
    top: 142px;
    overflow: visible;
}

#pkmn0008 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 107px;
    top: 142px;
    overflow: visible;
}

#pkmn0009 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 214px;
    top: 142px;
    overflow: visible;
}

#pkmn0010 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 0px;
    top: 213px;
    overflow: visible;
}

#pkmn0011 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 107px;
    top: 213px;
    overflow: visible;
}

#pkmn0012 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 214px;
    top: 213px;
    overflow: visible;
}

#pkmn0013 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 0px;
    top: 284px;
    overflow: visible;
}

#pkmn0014 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 107px;
    top: 284px;
    overflow: visible;
}

#pkmn0015 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 214px;
    top: 284px;
    overflow: visible;
}

#pkmn0016 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 0px;
    top: 355px;
    overflow: visible;
}

#pkmn0017 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 107px;
    top: 355px;
    overflow: visible;
}

#pkmn0018 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 214px;
    top: 355px;
    overflow: visible;
}

#pkmn0019 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 0px;
    top: 426px;
    overflow: visible;
}

#pkmn0020 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 107px;
    top: 426px;
    overflow: visible;
}

#pkmn0021 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 214px;
    top: 426px;
    overflow: visible;
}

#pkmn0022 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 0px;
    top: 497px;
    overflow: visible;
}

#pkmn0023 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 107px;
    top: 497px;
    overflow: visible;
}

#pkmn0024 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 214px;
    top: 497px;
    overflow: visible;
}

#pkmn0025 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 0px;
    top: 568px;
    overflow: visible;
}

#pkmn0026 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 107px;
    top: 568px;
    overflow: visible;
}

#pkmn0027 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 214px;
    top: 568px;
    overflow: visible;
}

#pkmn0028 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 0px;
    top: 639px;
    overflow: visible;
}

#pkmn0029 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 107px;
    top: 639px;
    overflow: visible;
}

#pkmn0030 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 214px;
    top: 639px;
    overflow: visible;
}

#pkmn0031 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 0px;
    top: 710px;
    overflow: visible;
}

#pkmn0032 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 107px;
    top: 710px;
    overflow: visible;
}

#pkmn0033 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 214px;
    top: 710px;
    overflow: visible;
}

#pkmn0034 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 0px;
    top: 781px;
    overflow: visible;
}

#pkmn0035 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 107px;
    top: 781px;
    overflow: visible;
}

#pkmn0036 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 214px;
    top: 781px;
    overflow: visible;
}

#pkmn0037 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 0px;
    top: 852px;
    overflow: visible;
}

#pkmn0038 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 107px;
    top: 852px;
    overflow: visible;
}

#pkmn0039 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 214px;
    top: 852px;
    overflow: visible;
}

#pkmn0040 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 0px;
    top: 923px;
    overflow: visible;
}

#pkmn0041 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 107px;
    top: 923px;
    overflow: visible;
}

#pkmn0042 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 214px;
    top: 923px;
    overflow: visible;
}

#pkmn0043 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 0px;
    top: 994px;
    overflow: visible;
}

#pkmn0044 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 107px;
    top: 994px;
    overflow: visible;
}

#pkmn0045 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 214px;
    top: 994px;
    overflow: visible;
}

#pkmn0046 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 0px;
    top: 1065px;
    overflow: visible;
}

#pkmn0047 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 107px;
    top: 1065px;
    overflow: visible;
}

#pkmn0048 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 214px;
    top: 1065px;
    overflow: visible;
}

#pkmn0049 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 0px;
    top: 1136px;
    overflow: visible;
}

#pkmn0050 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 107px;
    top: 1136px;
    overflow: visible;
}

#pkmn0051 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 214px;
    top: 1136px;
    overflow: visible;
}

#pkmn0052 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 0px;
    top: 1207px;
    overflow: visible;
}

#pkmn0053 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 107px;
    top: 1207px;
    overflow: visible;
}

#pkmn0054 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 214px;
    top: 1207px;
    overflow: visible;
}

#pkmn0055 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 0px;
    top: 1278px;
    overflow: visible;
}

#pkmn0056 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 107px;
    top: 1278px;
    overflow: visible;
}

#pkmn0057 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 214px;
    top: 1278px;
    overflow: visible;
}

#pkmn0058 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 0px;
    top: 1349px;
    overflow: visible;
}

#pkmn0059 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 107px;
    top: 1349px;
    overflow: visible;
}

#pkmn0060 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 214px;
    top: 1349px;
    overflow: visible;
}

#pkmn0061 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 0px;
    top: 1420px;
    overflow: visible;
}

#pkmn0062 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 107px;
    top: 1420px;
    overflow: visible;
}

#pkmn0063 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 214px;
    top: 1420px;
    overflow: visible;
}

#pkmn0064 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 0px;
    top: 1491px;
    overflow: visible;
}

#pkmn0065 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 107px;
    top: 1491px;
    overflow: visible;
}

#pkmn0066 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 214px;
    top: 1491px;
    overflow: visible;
}

#pkmn0067 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 0px;
    top: 1562px;
    overflow: visible;
}

#pkmn0068 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 107px;
    top: 1562px;
    overflow: visible;
}

#pkmn0069 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 214px;
    top: 1562px;
    overflow: visible;
}

#pkmn0070 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 0px;
    top: 1633px;
    overflow: visible;
}

#pkmn0071 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 107px;
    top: 1633px;
    overflow: visible;
}

#pkmn0072 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 214px;
    top: 1633px;
    overflow: visible;
}

#pkmn0073 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 0px;
    top: 1704px;
    overflow: visible;
}

#pkmn0074 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 107px;
    top: 1704px;
    overflow: visible;
}

#pkmn0075 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 214px;
    top: 1704px;
    overflow: visible;
}

#pkmn0076 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 0px;
    top: 1775px;
    overflow: visible;
}

#pkmn0077 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 107px;
    top: 1775px;
    overflow: visible;
}

#pkmn0078 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 214px;
    top: 1775px;
    overflow: visible;
}

#pkmn0079 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 0px;
    top: 1846px;
    overflow: visible;
}

#pkmn0080 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 107px;
    top: 1846px;
    overflow: visible;
}

#pkmn0081 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 214px;
    top: 1846px;
    overflow: visible;
}

#pkmn0082 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 0px;
    top: 1917px;
    overflow: visible;
}

#pkmn0083 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 107px;
    top: 1917px;
    overflow: visible;
}

#pkmn0084 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 214px;
    top: 1917px;
    overflow: visible;
}

#pkmn0085 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 0px;
    top: 1988px;
    overflow: visible;
}

#pkmn0086 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 107px;
    top: 1988px;
    overflow: visible;
}

#pkmn0087 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 214px;
    top: 1988px;
    overflow: visible;
}

#pkmn0088 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 0px;
    top: 2059px;
    overflow: visible;
}

#pkmn0089 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 107px;
    top: 2059px;
    overflow: visible;
}

#pkmn0090 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 214px;
    top: 2059px;
    overflow: visible;
}

#pkmn0091 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 0px;
    top: 2130px;
    overflow: visible;
}

#pkmn0092 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 107px;
    top: 2130px;
    overflow: visible;
}

#pkmn0093 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 214px;
    top: 2130px;
    overflow: visible;
}

#pkmn0094 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 0px;
    top: 2201px;
    overflow: visible;
}

#pkmn0095 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 107px;
    top: 2201px;
    overflow: visible;
}

#pkmn0096 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 214px;
    top: 2201px;
    overflow: visible;
}

#pkmn0097 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 0px;
    top: 2272px;
    overflow: visible;
}

#pkmn0098 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 107px;
    top: 2272px;
    overflow: visible;
}

#pkmn0099 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 214px;
    top: 2272px;
    overflow: visible;
}

#pkmn0100 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 0px;
    top: 2343px;
    overflow: visible;
}

#pkmn0101 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 107px;
    top: 2343px;
    overflow: visible;
}

#pkmn0102 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 214px;
    top: 2343px;
    overflow: visible;
}

#pkmn0103 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 0px;
    top: 2414px;
    overflow: visible;
}

#pkmn0104 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 107px;
    top: 2414px;
    overflow: visible;
}

#pkmn0105 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 214px;
    top: 2414px;
    overflow: visible;
}

#pkmn0106 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 0px;
    top: 2485px;
    overflow: visible;
}

#pkmn0107 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 107px;
    top: 2485px;
    overflow: visible;
}

#pkmn0108 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 214px;
    top: 2485px;
    overflow: visible;
}

#pkmn0109 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 0px;
    top: 2556px;
    overflow: visible;
}

#pkmn0110 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 107px;
    top: 2556px;
    overflow: visible;
}

#pkmn0111 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 214px;
    top: 2556px;
    overflow: visible;
}

#pkmn0112 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 0px;
    top: 2627px;
    overflow: visible;
}

#pkmn0113 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 107px;
    top: 2627px;
    overflow: visible;
}

#pkmn0114 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 214px;
    top: 2627px;
    overflow: visible;
}

#pkmn0115 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 0px;
    top: 2698px;
    overflow: visible;
}

#pkmn0116 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 107px;
    top: 2698px;
    overflow: visible;
}

#pkmn0117 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 214px;
    top: 2698px;
    overflow: visible;
}

#pkmn0118 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 0px;
    top: 2769px;
    overflow: visible;
}

#pkmn0119 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 107px;
    top: 2769px;
    overflow: visible;
}

#pkmn0120 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 214px;
    top: 2769px;
    overflow: visible;
}

#pkmn0121 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 0px;
    top: 2840px;
    overflow: visible;
}

#pkmn0122 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 107px;
    top: 2840px;
    overflow: visible;
}

#pkmn0123 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 214px;
    top: 2840px;
    overflow: visible;
}

#pkmn0124 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 0px;
    top: 2911px;
    overflow: visible;
}

#pkmn0125 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 107px;
    top: 2911px;
    overflow: visible;
}

#pkmn0126 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 214px;
    top: 2911px;
    overflow: visible;
}

#pkmn0127 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 0px;
    top: 2982px;
    overflow: visible;
}

#pkmn0128 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 107px;
    top: 2982px;
    overflow: visible;
}

#pkmn0129 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 214px;
    top: 2982px;
    overflow: visible;
}

#pkmn0130 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 0px;
    top: 3053px;
    overflow: visible;
}

#pkmn0131 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 107px;
    top: 3053px;
    overflow: visible;
}

#pkmn0132 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 214px;
    top: 3053px;
    overflow: visible;
}

#pkmn0133 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 0px;
    top: 3124px;
    overflow: visible;
}

#pkmn0134 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 107px;
    top: 3124px;
    overflow: visible;
}

#pkmn0135 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 214px;
    top: 3124px;
    overflow: visible;
}

#pkmn0136 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 0px;
    top: 3195px;
    overflow: visible;
}

#pkmn0137 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 107px;
    top: 3195px;
    overflow: visible;
}

#pkmn0138 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 214px;
    top: 3195px;
    overflow: visible;
}

#pkmn0139 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 0px;
    top: 3266px;
    overflow: visible;
}

#pkmn0140 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 107px;
    top: 3266px;
    overflow: visible;
}

#pkmn0141 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 214px;
    top: 3266px;
    overflow: visible;
}

#pkmn0142 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 0px;
    top: 3337px;
    overflow: visible;
}

#pkmn0143 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 107px;
    top: 3337px;
    overflow: visible;
}

#pkmn0144 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 214px;
    top: 3337px;
    overflow: visible;
}

#pkmn0145 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 0px;
    top: 3408px;
    overflow: visible;
}

#pkmn0146 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 107px;
    top: 3408px;
    overflow: visible;
}

#pkmn0147 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 214px;
    top: 3408px;
    overflow: visible;
}

#pkmn0148 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 0px;
    top: 3479px;
    overflow: visible;
}

#pkmn0149 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 107px;
    top: 3479px;
    overflow: visible;
}

#pkmn0150 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 214px;
    top: 3479px;
    overflow: visible;
}

#pkmn0151 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 0px;
    top: 3550px;
    overflow: visible;
}

#pkmn0152 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 107px;
    top: 3550px;
    overflow: visible;
}

#pkmn0153 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 214px;
    top: 3550px;
    overflow: visible;
}

#pkmn0154 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 0px;
    top: 3621px;
    overflow: visible;
}

#pkmn0155 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 107px;
    top: 3621px;
    overflow: visible;
}

#pkmn0156 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 214px;
    top: 3621px;
    overflow: visible;
}

#pkmn0157 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 0px;
    top: 3692px;
    overflow: visible;
}

#pkmn0158 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 107px;
    top: 3692px;
    overflow: visible;
}

#pkmn0159 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 214px;
    top: 3692px;
    overflow: visible;
}

#pkmn0160 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 0px;
    top: 3763px;
    overflow: visible;
}

#pkmn0161 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 107px;
    top: 3763px;
    overflow: visible;
}

#pkmn0162 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 214px;
    top: 3763px;
    overflow: visible;
}

#pkmn0163 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 0px;
    top: 3834px;
    overflow: visible;
}

#pkmn0164 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 107px;
    top: 3834px;
    overflow: visible;
}

#pkmn0165 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 214px;
    top: 3834px;
    overflow: visible;
}

#pkmn0166 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 0px;
    top: 3905px;
    overflow: visible;
}

#pkmn0167 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 107px;
    top: 3905px;
    overflow: visible;
}

#pkmn0168 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 214px;
    top: 3905px;
    overflow: visible;
}

#pkmn0169 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 0px;
    top: 3976px;
    overflow: visible;
}

#pkmn0170 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 107px;
    top: 3976px;
    overflow: visible;
}

#pkmn0171 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 214px;
    top: 3976px;
    overflow: visible;
}

#pkmn0172 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 0px;
    top: 4047px;
    overflow: visible;
}

#pkmn0173 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 107px;
    top: 4047px;
    overflow: visible;
}

#pkmn0174 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 214px;
    top: 4047px;
    overflow: visible;
}

#pkmn0175 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 0px;
    top: 4118px;
    overflow: visible;
}

#pkmn0176 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 107px;
    top: 4118px;
    overflow: visible;
}

#pkmn0177 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 214px;
    top: 4118px;
    overflow: visible;
}

#pkmn0178 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 0px;
    top: 4189px;
    overflow: visible;
}

#pkmn0179 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 107px;
    top: 4189px;
    overflow: visible;
}

#pkmn0180 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 214px;
    top: 4189px;
    overflow: visible;
}

#pkmn0181 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 0px;
    top: 4260px;
    overflow: visible;
}

#pkmn0182 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 107px;
    top: 4260px;
    overflow: visible;
}

#pkmn0183 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 214px;
    top: 4260px;
    overflow: visible;
}

#pkmn0184 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 0px;
    top: 4331px;
    overflow: visible;
}

#pkmn0185 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 107px;
    top: 4331px;
    overflow: visible;
}

#pkmn0186 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 214px;
    top: 4331px;
    overflow: visible;
}

#pkmn0187 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 0px;
    top: 4402px;
    overflow: visible;
}

#pkmn0188 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 107px;
    top: 4402px;
    overflow: visible;
}

#pkmn0189 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 214px;
    top: 4402px;
    overflow: visible;
}

#pkmn0190 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 0px;
    top: 4473px;
    overflow: visible;
}

#pkmn0191 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 107px;
    top: 4473px;
    overflow: visible;
}

#pkmn0192 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 214px;
    top: 4473px;
    overflow: visible;
}

#pkmn0193 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 0px;
    top: 4544px;
    overflow: visible;
}

#pkmn0194 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 107px;
    top: 4544px;
    overflow: visible;
}

#pkmn0195 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 214px;
    top: 4544px;
    overflow: visible;
}

#pkmn0196 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 0px;
    top: 4615px;
    overflow: visible;
}

#pkmn0197 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 107px;
    top: 4615px;
    overflow: visible;
}

#pkmn0198 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 214px;
    top: 4615px;
    overflow: visible;
}

#pkmn0199 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 0px;
    top: 4686px;
    overflow: visible;
}

#pkmn0200 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 107px;
    top: 4686px;
    overflow: visible;
}

#pkmn0201 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 214px;
    top: 4686px;
    overflow: visible;
}

#pkmn0202 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 0px;
    top: 4757px;
    overflow: visible;
}

#pkmn0203 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 107px;
    top: 4757px;
    overflow: visible;
}

#pkmn0204 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 214px;
    top: 4757px;
    overflow: visible;
}

#pkmn0205 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 0px;
    top: 4828px;
    overflow: visible;
}

#pkmn0206 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 107px;
    top: 4828px;
    overflow: visible;
}

#pkmn0207 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 214px;
    top: 4828px;
    overflow: visible;
}

#pkmn0208 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 0px;
    top: 4899px;
    overflow: visible;
}

#pkmn0209 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 107px;
    top: 4899px;
    overflow: visible;
}

#pkmn0210 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 214px;
    top: 4899px;
    overflow: visible;
}

#pkmn0211 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 0px;
    top: 4970px;
    overflow: visible;
}

#pkmn0212 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 107px;
    top: 4970px;
    overflow: visible;
}

#pkmn0213 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 214px;
    top: 4970px;
    overflow: visible;
}

#pkmn0214 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 0px;
    top: 5041px;
    overflow: visible;
}

#pkmn0215 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 107px;
    top: 5041px;
    overflow: visible;
}

#pkmn0216 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 214px;
    top: 5041px;
    overflow: visible;
}

#pkmn0217 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 0px;
    top: 5112px;
    overflow: visible;
}

#pkmn0218 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 107px;
    top: 5112px;
    overflow: visible;
}

#pkmn0219 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 214px;
    top: 5112px;
    overflow: visible;
}

#pkmn0220 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 0px;
    top: 5183px;
    overflow: visible;
}

#pkmn0221 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 107px;
    top: 5183px;
    overflow: visible;
}

#pkmn0222 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 214px;
    top: 5183px;
    overflow: visible;
}

#pkmn0223 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 0px;
    top: 5254px;
    overflow: visible;
}

#pkmn0224 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 107px;
    top: 5254px;
    overflow: visible;
}

#pkmn0225 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 214px;
    top: 5254px;
    overflow: visible;
}

#pkmn0226 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 0px;
    top: 5325px;
    overflow: visible;
}

#pkmn0227 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 107px;
    top: 5325px;
    overflow: visible;
}

#pkmn0228 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 214px;
    top: 5325px;
    overflow: visible;
}

#pkmn0229 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 0px;
    top: 5396px;
    overflow: visible;
}

#pkmn0230 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 107px;
    top: 5396px;
    overflow: visible;
}

#pkmn0231 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 214px;
    top: 5396px;
    overflow: visible;
}

#pkmn0232 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 0px;
    top: 5467px;
    overflow: visible;
}

#pkmn0233 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 107px;
    top: 5467px;
    overflow: visible;
}

#pkmn0234 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 214px;
    top: 5467px;
    overflow: visible;
}

#pkmn0235 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 0px;
    top: 5538px;
    overflow: visible;
}

#pkmn0236 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 107px;
    top: 5538px;
    overflow: visible;
}

#pkmn0237 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 214px;
    top: 5538px;
    overflow: visible;
}

#pkmn0238 {
    position: absolute;
    width: 101px;
    height: 71px;
    left: 0px;
    top: 5609px;
    overflow: visible;
}

#genselecter {
    position: fixed;
    width: 375px;
    height: 30px;
    top: 60px;
    overflow: hidden;
}

#main {
    position: absolute;
    width: 315px;
    height: 32586px;
    left: 30px;
    top: 94px;
    overflow: hidden;
}

#info {
    position: absolute;
    width: 101px;
    height: 20px;
    left: 0px;
    top: 51px;
    overflow: visible;
}

.bginfo {
    position: absolute;
    overflow: visible;
    width: 101px;
    height: 20px;
    left: 0px;
    top: 0px;
}

#txtname {
    left: -25px;
    position: absolute;
    overflow: visible;
    width: 150px;
    height: 16px;
    text-align: center;
    font-family: NanumSquare;
    font-style: normal;
    font-weight: bold;
    font-size: 7px;
    -webkit-transform: scale(0.75);
    color: rgba(0,0,0,1);
}

#sprtnormal {
    position: absolute;
    width: 51px;
    height: 51px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#sprtshiny {
    position: absolute;
    width: 51px;
    height: 51px;
    left: 50px;
    top: 0px;
    overflow: visible;
}

#gen1 {
    position: absolute;
    overflow: visible;
    width: 40px;
    height: 30px;
    left: 10px;
    top: 0px;
}

#gen2 {
    position: absolute;
    overflow: visible;
    width: 40px;
    height: 30px;
    left: 55px;
    top: 0px;
}

#gen3 {
    position: absolute;
    overflow: visible;
    width: 40px;
    height: 30px;
    left: 100px;
    top: 0px;
}

#gen4 {
    position: absolute;
    overflow: visible;
    width: 40px;
    height: 30px;
    left: 145px;
    top: 0px;
}

#gen5 {
    position: absolute;
    overflow: visible;
    width: 40px;
    height: 30px;
    left: 190px;
    top: 0px;
}

#gen6 {
    position: absolute;
    overflow: visible;
    width: 40px;
    height: 30px;
    left: 235px;
    top: 0px;
}

#gen7 {
    position: absolute;
    overflow: visible;
    width: 40px;
    height: 30px;
    left: 280px;
    top: 0px;
}

#gen8 {
    position: absolute;
    overflow: visible;
    width: 40px;
    height: 30px;
    left: 325px;
    top: 0px;
}

#crntpage1 {
    position: absolute;
    width: 40px;
    height: 30px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#crntpage2 {
    position: absolute;
    width: 40px;
    height: 30px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#crntpage3 {
    position: absolute;
    width: 40px;
    height: 30px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#crntpage4 {
    position: absolute;
    width: 40px;
    height: 30px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#crntpage5 {
    position: absolute;
    width: 40px;
    height: 30px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#crntpage6 {
    position: absolute;
    width: 40px;
    height: 30px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#crntpage7 {
    position: absolute;
    width: 40px;
    height: 30px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#crntpage8 {
    position: absolute;
    width: 40px;
    height: 30px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

.genselect {
    position: absolute;
    overflow: visible;
    width: 40px;
    height: 30px;
    left: 0px;
    top: 1px;
}

#gentxt {
    left: 13px;
    top: 4px;
    position: absolute;
    overflow: visible;
    width: 13px;
    white-space: nowrap;
    text-align: center;
    font-family: NanumSquare;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(0,0,0,1);
}